<div class="container clearfix">
    <div class="people-list" id="people-list">
     
      <ul class="list">
        <li class="clearfix cursor-hand" *ngFor="let user of userList" (click)="updateRecipientUserId(user.id)">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"  *ngIf="user.id != senderUserId"/>
          <div class="about" *ngIf="user.id != senderUserId">
            <div class="name">{{user.firstName}} {{user.lastName}}</div>
            <div class="status">
              <i class="fa fa-circle online" *ngIf="user.loginStatus">online</i> 
              <i class="fa fa-circle offline" *ngIf="!user.loginStatus">offline</i> 
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="chat" *ngIf="showChatHistory">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with {{recipientUserId}}</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <div *ngFor="let a of chatList">
          <ul>
            <li class="clearfix" *ngIf="isSenderMessage(a.id)">
              <div class="message-data align-right">
                <span class="message-data-time" >10:10 AM, Today ssssssssss</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{a.SenderUserId}}</span>
                <i class="fa fa-trash" style="float: right;color: red;cursor: pointer;" (click)="deleteChat(a.id)">Delete</i>
              </div>
              <div class="message other-message float-right">
                {{a.content}}
              </div>
            </li>
            <li *ngIf="!isSenderMessage(a.id)">
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> {{a.RecipientUserId}}</span>
                <span class="message-data-time">10:12 AM, Today</span>
                <i class="fa fa-trash" style="float: right;color: red;cursor: pointer;" (click)="deleteChat(a.id)">Delete</i>
              </div>
              <div class="message my-message">
                {{a.content}}
              </div>
            </li>
          </ul>
        </div>
      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <textarea  [(ngModel)]="chat.content" placeholder ="Type your message" rows="3"></textarea>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        <button type="button" class="btn btn-primary float-lg-left" (click)="SendChat()">Send</button>
      </div> <!-- end chat-message -->
    </div> <!-- end chat -->
    <div class="search" style="float: right;">
      <button type="button" class="btn btn-primary float-lg-left" (click)="logout()">({{senderUserName}}), Logout</button>
      <i class="fa fa-search"></i>
    </div>
  </div> <!-- end container -->
 